<link rel="stylesheet" href="/styles/exercise-card.css">

<div class="exercise-preview-card">
    <div class="info">

    <h3><%= locals.exerciseName || "Exercise Name" %></h3>
    <%= locals.exerciseInfo || "Exercise Info" %>
    </div>
    <div class="details-button">
    <a href="exercises/view/123">View Details</a>
    </div>
</div>