<link rel="stylesheet" href="/styles/navbar.css">
<div id="navbar">
    <menu>
        <li>
            <a href="/exercises">Browse Exercises</a> | 
        </li>
        <li>
            <a href="/exercises/create">Add Exercise</a> |
        </li>
        <li id="logout">
            <a href="/logout" >Log out</a>
        </li>
    </menu>    
    <hr>
</div>