<!DOCTYPE html>
<html>
<head>
    <%- include ("./partials/head",title="View Exercise Details") %>
</head>

<body>
    <%- include ("./partials/navbar") %>
    <div class="upper-content">
        <h1>Workout Tracker</h1>
        <p>Welcome to Workout Tracker</p>
    </div>

    <div class="exercise-detail-content">
        <h2>Exercise Details : Excercise 1</h2>
        <h3>Details</h3>
        <p>This is where the details of the exercises are displayed...</p>
        <h3>Muscles Used</h3>
        <ul>
            <li>Biceps</li>
            <li>Triceps</li>
            <li>Something Else</li>
        </ul>
    </div>


</body>
    
</html>