<!-- Home.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>EJS Template</title>

    <style type="text/css" media="screen">
    </style>
</head>

<body>
    Test EJS template page <br>
    <%=data%>
</body>
</html>